<section id="sobre-mi" class="container-fluid row">
    <div id="acerca-de-mi"  class="container-fluid row">
      <div class="col-sm-5 cont-foto">
         <img class="img-perfil" src="{{persona.img}}">
         <button *ngIf="authService.isLogged()" class="icon-btn edit-btn"   (click)="abrirModal()">
          
          <div class="edit-icon"></div>
          <div class="btn-txt">Editar</div>
      </button>

      </div>

      <div class="container-fluid col-sm-7 cont-sobre">
          <h2>Sobre Mi</h2>
          <p>Soy {{persona.nombre}} {{persona.apellido}}, un {{persona.titulo}} pronto a graduearme de la segunda 
               etapa del Argentina Programa. Actualmente vivo en Palpala, Provincia de Jujuy y estoy
               estudiando la carrera de Analista Programador Universitario en la Facultad 
               de Ingenieria en la UNJU ( Jujuy).
             Al mismo tiempo me capacito en cursos, como los de Codo A Codo, y aprovecho 
              el mundo del internet para seguir aprendiendo sobre programacion.
             Estoy muy entusiasmado con este nuevo mundo que se 
             abrio anti mi desde la pandemia
          </p>


      </div>
   
      <div class="container-fluid row d-flex">
       <div class="contenedor-cv pb-5 pt-4 d-flex flex-wrap">   
         <img class="cv" src="../../../assets/resume.png">
         <a class="d-cv" target="_blank" href="google.com">Descargar CV</a>
     </div>

      </div>
    </div>

<app-acerca-de-mi-edit
  [visible]="modalVisible"
  [data]="persona"
  (close)="cerrarModal()"
  (save)="guardarCambios($event)">
</app-acerca-de-mi-edit>
    

</section>
