<header class="header">
  <div class="container-banner">
    <div class="container-menu" data-aos="fade-down">
      <!-- LOGO -->
      <div class="logo-yoprogramo" >
        <img class="img-logo" src="../../../assets/APLogo.png">
        <p class="yoprogramo">#YO PROGRAMO</p>
      </div>

      <!-- NAV -->
      <div class="nav-bar">
        <input id="nav-toggle" type="checkbox">

        <ul>
          <li><a href="#sobre-mi">Sobre Mi</a></li>
          <li><a href="#educacion">Educación</a></li>
          <li><a href="#habilidades">Habilidades</a></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#contacto">Contacto</a></li>
          <li>
              <a href="#" *ngIf="!isLogged"
                (click)="abrirLogin(); $event.preventDefault()">
                Login
              </a>

              <a href="#" *ngIf="isLogged"
                (click)="logout(); $event.preventDefault()">
                Logout
              </a>
            </li>                               
        </ul>

        <label for="nav-toggle" class="btn-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </div>

    </div>
  </div>

  <!-- BANNER -->
  <div class="banner">
    <img class="img-banner" src="../../../assets/banner.png">

    <div class="next">
      <a href="">
        <span></span>
      </a>
    </div>
  </div>

  <!-- TEXTO HERO -->
  <div class="container-texto">

    <h1 style="text-align: center;">
      Hola, soy Gabriel 👋
    </h1>

    <h2>
      <ngx-typed-js
        [strings]="[
          'Futuro Dev Full Stack Jr 💻',
          'Y Analista Programador 🚀'
        ]"
        [typeSpeed]="60"
        [backSpeed]="40"
        [loop]="true">

        <span class="typing"></span>

      </ngx-typed-js>
    </h2>

    <p style="text-align: center;">
      Apasionado por la tecnología 🔥
    </p>

  </div>

    <app-login-modal
    *ngIf="mostrarLogin"
    (close)="cerrarLogin()">
  </app-login-modal>

</header>