<section id ="habilidades" class="container-fluid row g-0 pt-5 pb-5">
    <h1>Habilidades</h1>
    <div class="container-fluid row g-0">
     <div class="container-fluid col-sm-6 ">
      <h2>Soft Skills</h2>
      
     <nav class="accordion arrows row g-0">

          <input type="radio" name="accordion" id="acc-close" checked />
          <header class="contenedor-accordion">
          <label class="box-title" for="acc-close">
               Habilidades
          </label>
          </header>
          <ng-container *ngFor="let s of skill; let i = index">
               <input
                    type="radio"
                    name="accordion"
                    [id]="'skill-' + i"
               />
               <section class="contenedor-accordion">
                    <label class="box-title" [for]="'skill-' + i">
                    {{ s.nombre }}
                    </label>
                    <label class="box-close" for="acc-close"></label>
                    <div class="box-content">
                    {{ s.descripcion }}
                    </div>
               </section>
          </ng-container>

      </nav>





     </div>
          <div class="container-fluid col-sm-6">
          <h2>Hard Skills</h2>

          <div class="container-fluid g-0 hard-skills">


         <div class="skill row pb-3 g-0" *ngFor="let h of hardSkill">
             <div class="col-3 cont-tec">
                  <img [src]="h.img">
             </div>  
             <div class="col-9">
                 <h3>{{h.nombre}}</h3>
                 <div class="container-barra">
                         <div class="barra" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"  [style.--w]="h.nivel + '%'">>
                         <span>{{h.nivel}}%</span>
                         </div>
                 </div>
             </div>
       
         </div>

     </div>

     </div>

    </div>
</section>
