<section id="educacion" class="pt-5">
  <h1><strong>Educacion</strong></h1>
  <div class="container-fluid row pt-4 g-0">
       <div id="form-aca" class="col-12 col-md-6 d-flex">
             <div class="container-fluid row g-0 pt-3" >
               <h2><strong>Formacion Academica</strong></h2>
                    <ng-container *ngFor="let e of ed">
                            <div class="row g-0 p-2 cont-card" *ngIf="e.tipo === 'formacion'">

                                <div class="contenedor-img col-12 col-md-2">
                                <img class="img-ed" [src]="e.img">
                                <a [href]="e.link" class="link" target="_blank">
                                    <div class="text">Link</div>
                                </a>
                                </div>      

                                <div class="col-12 col-md-9 ed">
                                <p>{{ e.institucion }}</p>
                                <p>{{ e.titulo }} ({{ e.periodo_inicio }} - {{ e.periodo_final }})</p>
                                </div>
                                    <div *ngIf="authService.isLogged()" id="acciones" class="col-12 col-md-1">
                                    <button  pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning"  (click)="abrirModal(e)"></button>
                                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminarEducacion(e.id)"></button>
                                </div>
                                
                            </div>
                        </ng-container>       
                       
             </div>
       </div>
    
       <div id="cursos" class="col-12 col-md-6 d-flex">
           
              <div class="container-fluid row g-0 pt-3" >
                   <h2><strong>Cursos</strong></h2> 
                      <ng-container *ngFor="let e of ed">
                            <div class="row g-0 p-2 cont-card" *ngIf="e.tipo === 'curso'">

                                <div class="contenedor-img col-12 col-md-2">
                                <img class="img-ed" [src]="e.img">
                                <a [href]="e.link" class="link" target="_blank">
                                    <div class="text">Link</div>
                                </a>
                                </div>      

                               <div class="col-12 col-md-9 ed">
                                  <p>{{ e.institucion }}</p>
                                  <p>{{ e.titulo }} ({{ e.periodo_inicio }} - {{ e.periodo_final }})</p>
                                </div>

                                <div *ngIf="authService.isLogged()" id="acciones" class="col-12 col-md-1">
                                   
                                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning"  (click)="abrirModal(e)"></button>
                                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"  (click)="eliminarEducacion(e.id)"></button>
                                </div>

                            </div>
                        </ng-container>
                         
              </div>
            <div>
           
           </div>
     </div>

 </div>  
    <div *ngIf="authService.isLogged()" class="centered">
        <div class="plus" id="plus"  [class.plus--active]="activo" (click)="togglePlus($event)">
            <div class="plus__line plus__line--v">
            <a href="#" class="plus__link" (click)="abrirModalCrear('formacion');$event.preventDefault(); $event.stopPropagation()">Formacion</a>
            <a href="#" class="plus__link" (click)="abrirModalCrear('curso');$event.preventDefault(); $event.stopPropagation()">Curso</a>
            </div>
            <div class="plus__line plus__line--h"></div>
        </div>
    </div>

<app-educacion-crud
  [visible]="modalVisible"
  [data]="educacionSeleccionada"
  (close)="cerrarModal()"
  [modo]="modo"
  (save)="guardarCambios($event)">
</app-educacion-crud>
</section>
