/* You can add global styles to this file, and also import other style files */



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


 /* html{
  scroll-behavior: smooth;
 } */


  main {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}



  body {
   
    position: relative;
    
  }


  .p-button.p-button-icon-only {
  width: 28px !important;
  height: 28px !important;
  padding: 0 !important;
  
}

.p-button.p-button-icon-only .pi {
  font-size: 12px !important;
}

#acciones {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;   
  gap: 8px;                
}


/* CONTENEDOR CENTRADO */
.centered {
   display:flex;
   justify-content:center;
   align-items:center;
   padding:40px 0;

}

/* BOTÓN + */
.plus {
  width: 70px;
  height: 70px;
  background: #ffe581;
  border-radius: 50%;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
  margin-top:20px;
  overflow: visible;
}

.plus__line {
  width: 6px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 25px);
}

.plus__line--h {
  transform: rotate(90deg);
}

.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all .4s ease 0s;
}


.plus__link {
  color: #FFF;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease 0s;
  transform: scale(.5);
  text-decoration: none;
  font-weight: bold;
}


.plus--active {
  height: 28px;
  border-radius: 30px;


  /* transform: translate(-50%, -50%); */
}


.plus--active .plus__line--v {
  height: auto;
  min-height: 40px;
  width: 220px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  border-radius: 60px;
  box-sizing: border-box;
}


.plus--active .plus__link {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: .05s;
}
